Java SE/XML/XML-1/WebContent/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
 targetNamespace="http://www.praveen.com" 
xmlns:tns="http://www.praveen.com" 
elementFormDefault="qualified">

<xs:element name="employee">

	<xs:complexType>
		
			<xs:all>
			
				<xs:element name="id" type="xs:integer"/>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="salary" type="xs:double" />
				
			</xs:all>
	
	
	</xs:complexType>


</xs:element>


</xs:schema>